fastapi
uvicorn[standard]
sqlalchemy
pymysql
psycopg2-binary
alembic
python-jose[cryptography]
bcrypt
python-multipart
python-dotenv
httpx
qrcode[pil]
Pillow
requests
cryptography
pydantic[email]
bakong-khqr
